body {
    margin: 0;
    padding: 0;
  }

  .caixa-principal {
    background-image: url(https://cdn.photoroom.com/v1/assets-cached.jpg?path=backgrounds_v3/black/Photoroom_black_background_extremely_fine_texture_only_black_co_c756a0c0-4895-4275-845b-7a20f085e432.jpg);
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    height: 500px; 
    width: 600px;
    border-color: #ff0000
  }

  .caixa-menor {
    width: 200px;
    height: 300px;
    border: 1px solid #fcd707;
    padding: 10px;
    box-sizing: border-box; 
    position: absolute;
    bottom: 180px;
    color: gray;
  }

  .caixa-menor:nth-child(1) {
    left: 20px; 
    background-color: #fff; 
  }

  .caixa-menor:nth-child(2) {
    right: 20px; 
    background-color: #000; 
  }
