table {
    border-collapse: collapse; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 400px; 
    margin: 20px; 
  }

  th, td {
    padding: 10px; 
  }

  tr:first-child {
    background-color: #f0f0f0; 
    color: blue; 
  }

  td:last-child {
    background-color: #8b8b8b; 
  }